* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f3f4f6;
}

.phone {
  position: relative;
  height: 147mm;
  width: 71mm;
  background-color: white;
  color: black;
  border-radius: 25px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  overflow: hidden;
}

.padding-display {
  padding: 15px 20px;
  height: 65%;
}

.head {
  display: flex;
  justify-content: space-between;
}

.keyboard-mobile-container {
  background-color: #d4d3d8;
  height: 35%;
  padding: 3px;
}

.clock {
  width: 60px;
  font-size: 0.9rem;
}

.header-symbols {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  width: 60px;
}

.island {
  background-color: black;
  width: 60px;
  height: 20px;
  border-radius: 20px;
}

.text-field {
  margin-top: 10px;
  font-size: 0.8rem;
}

.bottom-line {
  width: 100px;
  border: 3px solid black;
  border-radius: 30px;
  background-color: #000000;
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.frame {
  max-width: 800px;
  min-width: 500px;
  height: 550px;
  background-color: #efeeeb;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.598);
  position: relative;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #00000075;
}

.innerline {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98%;
  width: 98%;
  border: 1px solid rgba(0, 0, 0, 0.491);
  border-radius: 10px;
}

.innerframe {
  border: 40px inset #e4dedc;
  width: 85%;
  height: 85%;
  border-radius: 10px;
  background: rgb(26, 26, 25);
  background: linear-gradient(
    48deg,
    rgba(26, 26, 25, 1) 0%,
    rgba(63, 72, 70, 1) 35%,
    rgba(95, 108, 106, 1) 100%
  );
  padding: 20px;
  color: white;
}

.keyboard {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(60, minmax(10px, 1fr));
  grid-template-rows: repeat(5, 1fr);
}

.key {
  background-color: rgba(0, 0, 0, 0.923);
  color: white;
  padding: 15px;
  border-radius: 10%;
  position: relative;
  aspect-ratio: 1 / 1;
  user-select: none;
  grid-column: span 4;
  font-size: 100%;
  margin: 1.5px;
}

.key::before {
  content: '';
  position: absolute;
  top: 8%;
  left: 12%;
  bottom: 23%;
  right: 18%;
  background: linear-gradient(90deg, #232323, #4a4a4a);
  border-radius: 3px;
}

.key span {
  position: absolute;
}

.key:hover {
  transform: scale(0.98);
}

.key:active {
  transform: scale(0.95);
  background-color: rgba(0, 0, 0, 0.869);
}

.key.active {
  transform: scale(0.98);
}

#backspace {
  grid-column: span 8;
  aspect-ratio: 2.05 / 1;
  border-radius: 6%;
}

#backspace:before {
  content: '';
  position: absolute;
  top: 8%;
  left: 5%;
  bottom: 23%;
  right: 10%;
  background: linear-gradient(90deg, #232323, #4a4a4a);
  border-radius: 3px;
}

#tab {
  grid-column: span 6;
  aspect-ratio: 1.5 / 1;
}

#capslock {
  grid-column: span 8;
  aspect-ratio: 2.1 / 1;
}

#return {
  grid-column: span 8;
  aspect-ratio: 2.1 / 1;
}

#return:before,
#tab:before,
#capslock:before {
  content: '';
  position: absolute;
  top: 8%;
  left: 5%;
  bottom: 23%;
  right: 10%;
  background: linear-gradient(90deg, #232323, #4a4a4a);
  border-radius: 3px;
}

#shift {
  grid-column: span 10;
  aspect-ratio: 2.6 / 1;
}

#shift:before {
  content: '';
  position: absolute;
  top: 8%;
  left: 5%;
  bottom: 23%;
  right: 7%;
  background: linear-gradient(90deg, #232323, #4a4a4a);
  border-radius: 3px;
}

#bottom-btn {
  grid-column: span 6;
  aspect-ratio: 1.55 / 1;
}

#bottom-btn:before {
  content: '';
  position: absolute;
  top: 8%;
  left: 5%;
  bottom: 20%;
  right: 13%;
  background: linear-gradient(90deg, #232323, #4a4a4a);
  border-radius: 3px;
}

#space {
  grid-column: span 24;
  aspect-ratio: 6.3 / 1;
  border-radius: 7%;
}

#space:before {
  content: '';
  position: absolute;
  top: 8%;
  left: 3%;
  bottom: 20%;
  right: 3%;
  background: linear-gradient(90deg, #232323, #4a4a4a);
  border-radius: 3px;
}

.keyboard-mobile {
  display: grid;
  grid-template-columns: repeat(60, 1fr);
  gap: 4px;
}

.space-3 {
  grid-column: span 3;
}

.mobile-key {
  grid-column: span 6;
  background-color: #ffffff;
  aspect-ratio: 1/1.25;
  color: black;
  border-radius: 5px;
  padding: 5px;
  user-select: none;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  cursor: pointer;
  margin: 2px 0;
}

.mobile-key:hover {
  -webkit-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  border-bottom: none;
}

.mobile-key:active {
  background-color: #f1f1f1;
}

#mobile-shift,
#mobile-backspace {
  background-color: #abb0b9;
  grid-column: span 8;
  aspect-ratio: 1/1;
}

#mobile-shift:hover {
  background-color: white;
  box-shadow: none;
  border-bottom: 1px solid black;
}
