* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keyboard {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(60, minmax(10px, 15px));
  grid-template-rows: repeat(5, 1fr);
  gap: 3px;
}

.key {
  background-color: rgba(0, 0, 0, 0.923);
  color: white;
  padding: 15px;
  border-radius: 10%;
  position: relative;
  aspect-ratio: 1 / 1;
  user-select: none;
  grid-column: span 4;
  font-size: 100%;
}

.key::before {
  content: '';
  position: absolute;
  top: 8%;
  left: 12%;
  bottom: 23%;
  right: 18%;
  background: linear-gradient(90deg, #232323, #4a4a4a);
  border-radius: 3px;
}

span {
  position: absolute;
}

.key:hover {
  transform: scale(0.98);
}

.key:active {
  transform: scale(0.95);
  background-color: rgba(0, 0, 0, 0.869);
}

.key.active {
  transform: scale(0.98);
}

@media (max-width: 780px) {
  .key {
    background-color: yellow;
  }
}
